* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background-color: darkslategray;
    color: ghostwhite;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: ghostwhite;
    text-decoration: none;
    font-size: 19px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

p {
    font-size: 15;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding: 24px;
}

h2 {
    color: dimgray;
    font-family: 'Noto Serif', serif;
    font-size: 25px;
    padding: 5px;
}

.container .image {
    display: flex;
    justify-content: center;
}

img {
    height: 250px;
    padding: 9px;
}

body {
    font-family: 'Cairo', sans-serif;
    color: darkslategray;
    background-color: rgb(118, 169, 169); 
}

.container .dicas {
    padding-left: 50px;
}

label {
    color: darkslategray;
}

button {
    font-family: 'Cairo', sans-serif;
    background-color: darkslategray;
    color: ghostwhite;
    cursor: pointer;
    border: none;
    margin: 0 0 8px 0;
}

form input, form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    margin-right: 0;
    padding: 8px;
}  

form {
    padding: 10px 20px;
}

input:focus {
    outline-color: rgb(63, 99, 99);
}

button:hover {
    background-color: rgb(53, 88, 88);
}

 footer {
    color: ghostwhite;
    background-color: dimgray;
    padding: 25px 10px;
}